@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 24px;
  color: #4CAF50;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
}

.navbar-item {
  padding: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-social {
  display: flex;
}

.navbar-icon {
  padding: 0 5px;
}

.navbar-icon img {
  height: 20px;
  width: 20px;
}

.navbar-actions {
  display: flex;
}

.navbar-button {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10px;
}

.donate {
  background-color: #4CAF50;
}

.get-involved {
  background-color: #f44336;
}

@media (max-width: 768px) {}

.navbar-mobile-toggle {
  display: none;
  cursor: pointer;
}

.navbar-mobile-toggle img {
  width: 25px;
  height: 25px;
}


@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu,
  .navbar-social,
  .navbar-actions {
    display: none;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-menu.active,
  .navbar-social.active,
  .navbar-actions.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-item,
  .navbar-icon,
  .navbar-button {
    width: 100%;
    padding: 10px;
  }

  .navbar-mobile-toggle {
    display: block;
    margin-left: auto;

  }
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-toggle {
  display: none;
  padding: 10px;
  border: none;
  background: none;
}

.navbar-toggle-icon {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px auto;
  transition: all 0.3s;
}


@media (max-width: 768px) {

  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu.active {
    display: flex;
  }
}

.carousel-item {

  height: 550px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 992px) {

  #image6,
  #image20 {
    object-position: center top !important;
  }
}


@media (min-width: 992px) {
  .navbar .container-fluid {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .navbar-collapse {
    justify-content: center !important;
  }

  .navbar-nav {
    justify-content: center;
    flex-grow: 0;
  }

  .navbar-toggler {
    display: none;
  }
}

.container {
  max-width: 1200px;

  margin: auto;
  padding: 0 15px;
}


.about-section {
  padding: 4rem 0;
  background: #f8f8f8;
  /* Light gray background, change as needed */
  text-align: center;
  /* Center align text */
}

.about-section .container {
  max-width: 900px;
  /* Sets the maximum width of the content */
  margin: auto;
}

.about-section h2 {
  margin-bottom: 2rem;
  /* Adds space below the heading */
  font-size: 2.5rem;
  /* Larger font size for the heading */
}

.about-section p {
  margin-bottom: 2rem;
  /* Adds space below the paragraph */
  line-height: 1.6;
  /* Makes the text more readable */
  text-align: left;
  /* Aligns text to the left */
}

.about-section .btn-primary {
  padding: 0.75rem 2rem;
  /* Larger button padding */
  font-size: 1rem;
  /* Larger font size for the button */
  color: #fff;
  /* Button text color */
  background-color: #007bff;
  /* Button background color */
  border-color: #007bff;
  /* Button border color */
  border-radius: 0.25rem;
  /* Rounded corners for the button */
  text-decoration: none;
  /* Removes underline from the button text */
  transition: background-color 0.3s ease;
  /* Smooth background color transition on hover */
}

.about-section .btn-primary:hover {
  background-color: #0056b3;
  /* Darkens the button on hover */
  border-color: #004085;
  /* Border color on hover */
}


.content-area {
  padding: 10px 0;

}

.container-fluid {
  padding: 10px;
}

@media (min-width: 992px) {
  .container-fluid {
    padding: 10px 100px;
  }
}

* {
  font-family: Nunito, sans-serif;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-container-block.bigContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}

.text-blk.headingText {
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(0, 135, 177);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.allText {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.text-blk.subHeadingText {
  color: rgb(102, 102, 102);
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.text-blk.description {
  font-size: 18px;
  line-height: 28px;
  color: rgb(153, 153, 153);
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.explore {
  font-size: 18px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  background-color: rgb(244, 152, 146);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: rgb(244, 152, 146);
  border-right-color: rgb(244, 152, 146);
  border-bottom-color: rgb(244, 152, 146);
  border-left-color: rgb(244, 152, 146);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: pointer;
  box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 9px;
  padding-right: 45px;
  padding-bottom: 9px;
  padding-left: 45px;
}

.explore:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 235, 234);
  color: rgb(244, 152, 146);
}

.explore2 {
  font-size: 18px;
  line-height: 28px;
  color: rgb(234, 241, 255);
  background-color: rgb(8, 97, 242);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: rgb(8, 97, 242);
  border-right-color: rgb(8, 97, 242);
  border-bottom-color: rgb(8, 97, 242);
  border-left-color: rgb(8, 97, 242);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  cursor: pointer;
  box-shadow: rgba(8, 97, 242, 0.25) 0px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 9px;
  padding-right: 45px;
  padding-bottom: 9px;
  padding-left: 45px;
}

.explore2:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(234, 241, 255);
  color: rgb(8, 97, 242);
}

.responsive-container-block.Container {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
  flex-direction: row;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.allText.aboveText {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.allText.bottomText {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.mainVideo {
  width: 85%;
  height: 450px;
  margin-top: -30px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.videoContainer {
  width: 46%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.videoContainer #video {
  /* width: 46%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px; */
}

/* 
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

.mainVideo {
  z-index: 10;
}

.dotsImg {
  position: absolute;
  width: 80%;
  height: 600px;
  top: 0px;
  right: 0px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 850px;
  }

  .text-blk.description {
    font-size: 18px;
  }

  .allText {
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .text-blk.subHeadingText {
    font-size: 30px;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container {
    max-width: 830px;
  }

  .allText.aboveText {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
  }

  .allText.bottomText {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.bottomText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .responsive-container-block.Container.bottomContainer {
    flex-direction: column;
  }

  .text-blk.headingText {
    text-align: center;
    font-size: 22px;
  }

  .text-blk.subHeadingText {
    text-align: center;
  }

  .text-blk.description {
    text-align: center;
  }

  .explore {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  #inc0s {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .dotsImg {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .videoContainer {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mainVideo {
    width: 100%;
  }

  .allText.bottomText {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }

  .text-blk.description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .text-blk.headingText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .text-blk.subHeadingText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .mainVideo {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .allText {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .text-blk.subHeadingText {
    text-align: center;
    font-size: 28px;
    line-height: 38px;
  }

  .text-blk.description {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }

  .allText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.aboveText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .allText.bottomText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.bottomText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }

  .mainVideo {
    height: 400px;
  }

  .videoContainer {
    height: 550px;
  }

  .explore {
    font-size: 16px;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }

  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .explore {
    font-size: 16px;
    line-height: 25px;
    padding: 8px 35px 8px 35px;
  }

  .dotsImg {
    width: 80%;
    height: 100%;
  }

  .mainVideo {
    height: 260px;
  }

  .videoContainer {
    height: 320px;
  }

  .responsive-container-block.Container.bottomContainer {
    padding: 0 0 0 0;
  }

  .text-blk.description {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 30px 0;
  }

  .text-blk.subHeadingText {
    font-size: 24px;
  }
}


.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.col_white_amrc {
  color: #FFF;
}

footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}